// 新着情報

.topics{
  display: flex;
  flex-wrap: wrap;
  margin: 30px;




  &__info {
    width: 100%;

    & dl {
      padding: 15px 0;
      border-bottom: 1px solid #ccc;

      & dt{
        padding-bottom: 5px;
      }
    }
  }
  &__weather{
    width: 100%;
    background-color: rgb(109, 232, 248);
  }
}


/* ------------------------------------
  list.html
------------------------------------ */

// 記事一覧
.list-title{
  text-align: center;
  margin: 30px;
}
.article{
  background-color: rgb(197, 193, 253);
  display: flex;
  flex-direction: column;
  width: 315px;
  justify-content: center;
  margin: 10px;

  &__date{
    text-align: center;
    border: 1px solid  rgb(197, 193, 253);
  }

  &img{
    width: 100vw;
  }

  &__title{
    text-align: center;
    margin-top: 10px;

  }

  &__text{
    margin: 10px;
  }

  &__more{
    text-align: right;
    padding-bottom: 10px;
  }
}



@media only screen and (min-width: 768px) {
  .topics{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;



  &__info {
    width: calc(50% - 100px / 2);
    margin-right: 20px;


    & dl {
      padding: 15px 0;
      border-bottom: 1px solid #ccc;

      & dt{
        padding-bottom: 5px;
      }
    }
  }
  &__weather{
    // margin: 30px;
    width: calc(50% - 100px / 2);
    background-color: rgb(109, 232, 248);
  }
}


}
/* MediaQuery end */
