
/* ------------------------------------
  list.html
------------------------------------ */

// 記事一覧

.main{
  display: flex;
  margin-top: 30px;

  &__container{

    background: url(../../img/bg-1.jpg);
    padding: 15px;
    width: 100%;
    max-width: 960px;
  }
}
.list-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: $sub-color;

}
.article-list{
  background-color: $sub-color;
  width: calc(100% - 10px);
  margin: 10px;
  border: 1px solid $border-color;
  border-radius: 10px;

  &__img{
    width: 100%;
    object-fit: contain;

  }

  & img{
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  &__date{
    text-align: left;
    // border: 1px solid  rgb(142, 204, 255);
    margin-top: 10px;
    font-size: 14px;
    background: rgba($bg-color,.3);


  }

  &__title{
    font-size: 24px;
    text-align: center;
    padding: 10px;
    background: rgba($bg-color,.5);
  }

  &__text{
    margin: 10px;
  }

  &__more{
    text-align: right;
    padding-bottom: 10px;
  }
}



/* MediaQuery */
@media only screen and (min-width: $breakpoint-ori) {
  .list-wrapper{
    justify-content: flex-start;


  }
  .article-list{
    width: calc(50% - 40px / 2);

    &__img{
      overflow: hidden;

      & img{
        transition-duration: 0.3s;

        &:hover{
          transform: scale(1.1);
          transition-duration: 0.3s;
          opacity: .5;
        }
      }
    }
  }

}
/* MediaQuery end */
