/* ------------------------------------
  index.html
------------------------------------ */
.blog{
  margin: 30px;
  & dl {
    padding: 15px 0;
    border-bottom: 1px solid $border-color;
  }
  & dt {
    padding-bottom: 5px;
  }

}



@media screen and (min-width: $breakpoint-md) {
.blog{
  margin: 60px;
  }
}
