dl.case4{
    margin:35px;
    padding:0;
    line-height:1.8;
    width:50%;
}
dl.case4 dt{
    width:6em;
    float:left;
    margin:0;
    padding:0 0 0 5px;
}
dl.case4 dd{
    position:relative;
    margin:0 0 10px;
    padding:0 5px 10px 13em;
    border-bottom:1px dotted #ccc;
}
dl.case4 dd span.cat{
    display:block;
    position:absolute;
    top:0;
    left:7em;
    width:4.5em;
    margin:0;
    padding:0;
    text-align:center;
    background-color:#eee;
    border-radius:2px;
}
