.blog{
  margin: 30px;
  & dl {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
  }
  & dt {
    padding-bottom: 5px;
}

}



@media screen and (min-width: 768px) {
.blog{
  margin: 60px;
  }
}
