// スマホのみのフッターナビゲーション
.sm-nav{
  display: flex;
  justify-content: space-between;

  & li{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-content: center;
    text-align: center;

    & span{
      margin-top: 10px;
    }
  }
}
