/* ------------------------------------
  index.html
------------------------------------ */
.desc-title{
  margin-left: 30px;
}
.desc{
  display: flex;
  flex-direction: column;
  margin: 30px;
  // border: 1px solid #000;
    &__title{
    font-size: 20px;

      & span{
        color: $bg-color;
        font-size: 28px;
      }
    }

  &__img{
    max-width: 700px;

    & img{
      width: 100%;
    }
  }

  &__text{
    width: 100%;
    line-height: 1.7;
    margin-top: 10px;
  }
}

@media only screen and (min-width: $breakpoint-md){
  .desc-title{
    margin-top: 40px;
    margin-left: 70px;
    }
  .desc{
  display: flex;
  flex-direction: row;
  margin: 30px 65px;

  &__img{
    width: 50%;
  }

  &__title{
    font-size: 20px;

    & span{
      color: $bg-color;
      font-size: 28px;
    }
  }


  &__text{
    width: 50%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
  }

}
