/* ------------------------------------
  inde.html
------------------------------------ */
// 新着情報&天気
.topics{
  display: flex;
  flex-wrap: wrap;
  margin: 30px;

  &__info {
    width: 100%;

    & dl {
      padding: 15px 0;
      border-bottom: 1px solid #ccc;

      & dt{
        padding-bottom: 5px;
      }
    }
  }
  &__weather{
    width: 100%;
    background-color: rgb(109, 232, 248);
  }
}

@media only screen and (min-width: 768px) {
  /* ------------------------------------
    index.html
  ------------------------------------ */
  .topics{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;



  &__info {
    width: calc(50% - 100px / 2);
    margin-right: 20px;


    & dl {
      padding: 15px 0;
      border-bottom: 1px solid #ccc;

      & dt{
        padding-bottom: 5px;
      }
    }
  }
  &__weather{
    // margin: 30px;
    width: calc(50% - 100px / 2);
    background-color: rgb(109, 232, 248);
  }
}


}
/* MediaQuery end */
