$header--bgc: #333;
$header--font: #fff;

.header{
  background-color: $header--bgc;
  color: $header--font;
  display: flex;
  justify-content: space-around;

  &__search{


    &__form{

      position:relative;
      max-width:300px;
      margin-bottom:20px;

    }
    &__sbox{
      height:50px;
      padding:0 10px;
      position:absolute;
      left:0;
      top:0;
      border-radius:25px;
      outline:0;
      background:#eee;

      &:hover{
        color:#888;
      }
    }

    &__btn{
      height:50px;
      width:50px;
      position:absolute;
      left:250px;
      top:0;
      background:#7fbfff;
      color:#fff;
      border:none;
      border-radius:0 25px 25px 0;

      & .fa-search{
        font-size:20px;
        position:absolute;
        top:30%;
        left:30%;
      }
    }
  }
}
