// スマホの時

.header{
  background-color: $bg-color;
  color: $font-color;
  width: 100%;
}

.nav{

  &__logo{
    padding-top: 10px;
    text-align: center;
  }

  &__menu ul{
    display: none;
  }
}




/* MediaQuery */
@media only screen and (min-width: $breakpoint-md) {
  .header{
    background-color: $bg-color;
    color: $font-color;
    display: flex;
    flex-direction: column;
  }
  .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__logo{
      display: flex;
      align-items: center;

    }

    &__menu ul{
      display: flex;
      margin: 10px 0;
    }

    &__menu li{
      margin: 10px;
      padding-top: 10px;

      & a{
        text-decoration: none;
        color: $link-color;
        &:hover{
          padding: 20px 0;
          border-top:3px dotted $header-hovercolor;
          border-bottom: 3px dotted $header-hovercolor;
        }
      }
    }
  }
}
/* MediaQuery end */
