// スマホの時

.header{
  background-color: $bg-color;
  color: $font-color;


  &__logo{
    padding: 10px;

  }

  &__nav ul{
    display: none;
  }

}



/* MediaQuery */
@media only screen and (min-width: $breakpoint-md) {
.header{
  background-color: $bg-color;
  color: $font-color;
  display: flex;
  justify-content: space-around;

  &__logo{
    display: flex;
    align-items: center;
  }

  &__nav ul{
    display: flex;
    margin: 10px 0;
  }

  &__nav li{
    margin: 10px;
  }
}
}
/* MediaQuery end */
