// index.html

.top-img img{
  width: 100vw;
}


// list.html
.main{
  display: flex;
  max-width: 960px;
  margin: 0 auto;

  &__container{
    flex-direction: column;
  }
}
.main-title{
  // display: flex;
  text-align: center;
  margin: 30px;
}

// single.html
/* MediaQuery */
@media only screen and (min-width: $breakpoint-md) {
  .main{
    justify-content: space-around;
  }

}
/* MediaQuery end */
